body {
    background-color: rgba(59, 68, 194, 0.973);
    color: White;
  }
  h1 {
   border: 5px solid grey;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 70px;

  }
  p {
  border-radius: 30px;
  background: #465788;
  padding: 20px; 
  width: 200px;
  height: 150px;  
  }
 
